<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>company search</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <div class="window">
      <div class="header">
        <h2>Enter the information:</h2>
      </div>
      <div class="options">
        <form id="postjob">
          <label for="companyName">Company Name:</label>
          <input type="text" id="companyName" name="companyName" required />

          <label for="jobTitle">Job Title:</label>
          <input type="text" id="jobTitle" name="jobTitle" required />

          <label for="category">Category:</label>
          <input type="text" id="category" name="category" required />

          <label for="location">Location:</label>
          <input type="text" id="location" name="location" required />

          <button type="submit" id="postBtn">Post the job</button>
        </form>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
