<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <div class="signup-form">
      <h2>Signup</h2>
      <form id="signup-form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="role">Select Role:</label><br />
          <input type="radio" id="userRole" name="role" value="user" checked />
          <label for="userRole">Job seracher</label>
          <input type="radio" id="userRole" name="role" value="admin" />
          <label for="userRole">Job provider</label>
        </div>

        <a href="login.html" class="link">Already have an account?</a>
        <button type="submit" class="button">Signup</button>
      </form>
    </div>
  </body>
</html>
