<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>user search</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <div class="window">
      <div class="header">
        <h2>What you want to choose</h2>
        <h2>( you can choose more than one option )</h2>
      </div>
      <div class="options" id="jobTablediv">
        <table id="jobTable">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Title</th>
              <th>Description</th>
              <th>Apply</th>
            </tr>
          </thead>
          <tbody>
            <!-- Job listings will be dynamically populated here -->
          </tbody>
        </table>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
